.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}


.prompt {
    color:black;
    justify-content: center;
    display: flex;
    text-align: left;
}

#current_floor {
    width: 5rem;
    text-align: center;
    display: inline;
}

#from_room {
    width: 5rem;
}

#to_room {
    width: 5rem;
}

#map {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.hover-underline-menu {
    width: 100%;
}

.hover-underline-menu .menu {
    background-color: #2C3840;
}

.hover-underline-menu .menu a {
    color: #fefefe;
    padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
    position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #fefefe;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}


.holy-grail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 4fr 1.5fr;
    grid-template-columns: 2fr 4fr 1.5fr;
    -ms-grid-rows: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
}

@media screen and (max-width: 60em) {
    .holy-grail-grid {
	-ms-grid-rows: 2fr 1fr 5fr 1fr;
	grid-template-rows: 2fr 1fr 5fr 1fr;
    }
}

.holy-grail-header,
.holy-grail-left,
.holy-grail-middle,
.holy-grail-right,
.holy-grail-footer {
    padding: 1rem;
    border: 1px solid #ededed;
    background-color: #ededed;
}

.holy-grail-header {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
}

@media screen and (max-width: 60em) {
    .holy-grail-left {
	-ms-grid-row: 2;
	grid-row-start: 2;
	-ms-grid-column: 1;
	grid-column-start: 1;
	grid-column-end: 4;
    }
}

@media screen and (max-width: 60em) {
    .holy-grail-middle {
	-ms-grid-row: 3;
	grid-row-start: 3;
	-ms-grid-column: 1;
	grid-column-start: 1;
	grid-column-end: 4;
    }
}

@media screen and (max-width: 60em) {
    .right-nav {
	-ms-grid-row: 4;
	grid-row-start: 4;
	-ms-grid-column: 1;
	grid-column-start: 1;
	grid-column-end: 4;
    }
}

.holy-grail-footer {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}


.input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.input-number-group .input-group-button {
    line-height: calc(80px/2 - 5px);
}

.input-number-group .input-number {
    width: 80px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
    border: 1px solid #cacaca;
    height: 5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0;
}

.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
    display: inline-block;
    width: 6rem;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
}

.input-number-group .input-number-decrement {
    margin-right: 0.3rem;
}

.input-number-group .input-number-increment {
    margin-left: 0.3rem;
}

