{% extends "base.html" %}

{% block title %}ALMOND.{% endblock %}

{% block body %}
<div class="intro">
  <div class="row">
    <div class="large-12 columns">
      <div style="background-color:rgba(0,0,0,0.7); min-height:100%; width:100%;">
        <div class="display-table" style="height:600px; width:100%;">
          <div class="va-align">
            <h2>Welcome to Stuy! Where would you like to go?</h2>
	    <br>
	    <div id="input_directions_home">
	      <h3>Get directions</h3>
	      From room number: <input id="from_room" value="831"></input><br><br>
	      To room number: <input id="to_room" value="805"></input><br><br><br>
	      
	      <div id="get_directions">
		<span class="button large" id="directions_button">Get Directions</span>
	      </div>
	    </div>
  	    <br><br>
	    or...
	    <a class="secondary hollow button" href="/map">Go to the map.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
