{% extends "base.html" %}

{% block title %}ALMOND.{% endblock %}

{% block body %}
<div class="intro">
  <div class="row">
    <div class="large-12 columns">
      <div style="background-color:rgba(0,0,0,0.7); min-height:100%; width:100%;">
        <div class="display-table" style="height:600px; width:100%;">
          <div class="va-align">
            <h2>Welcome to Stuy! Where would you like to go?</h2>
	    <br>
	    <div>
	      I'm in room: 
	      <br>
	      I'm going to room:
	    </div>
	    <div> or... </div>
	    <br><br>
	    <a class="secondary hollow button" href="/map">Go to the map.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
