{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block body %}
<div class="info">
  <div class="row">
    <div class="large-12 columns">
      <div class="input-group input-number-group">
	<div class="input-group-button">
	  <span class="input-number-decrement">Go<br>Down</span>
	</div>
	why nowork<input class="input-number" id="current_floor" type="number" value="7" min="1" max="10"> </input>
	<div class="input-group-button">
	  <span class="input-number-increment">Go<br>Up</span>
	</div>
      </div>
      <h3>Current Floor</h3>
    </div>  
  </div>
</div>

<div class="holy-grail-grid">
  <div class="holy-grail-left">

    <div id="input_directions">
      <h3>Get directions</h3>
      <table class="prompt">
	<tr>
	  <td>From room number:</td>
	  <td><input id="from_room" value="831"></input></td>
	</tr>
	<tr>
	  <td>To room number:</td>
	  <td><input id="to_room" value="805"></input></td>
	</tr>
      </table>
      <div id="get_directions">
	<span class="button large alert hollow" id="directions_button">Get Directions</span>
      </div>
    </div>
    <div id="show_directions" style="display:none">
      <ol>
	<li> do this</li>
	<li> then this</li>
      </ol>
    </div>
  </div>
  
  <div class="holy-grail-middle">
    <h3>Map</h3>
    <div id="map">
      <object data="static/img/1rc.svg" type="image/svg+xml" id="1" width="0" height="1000px" > </object>
      <object data="static/img/2rc.svg" type="image/svg+xml" id="2" width="0px" height="1000px" > </object>
      <object data="static/img/3rc.svg" type="image/svg+xml" id="3" width="0px" height="1000px" > </object>
      <object data="static/img/4rc.svg" type="image/svg+xml" id="4" width="0px" height="1000px" > </object>
      <object data="static/img/5rc.svg" type="image/svg+xml" id="5" width="0px" height="1000px" > </object>
      <object data="static/img/6rc.svg" type="image/svg+xml" id="6" width="0px" height="1000px" > </object>
      <object data="static/img/7rc.svg" type="image/svg+xml" id="7" width="750px" height="1000px" > </object>
      <object data="static/img/8rc.svg" type="image/svg+xml" id="8" width="0px" height="1000px" > </object>
      <object data="static/img/9rc.svg" type="image/svg+xml" id="9" width="0px" height="1000px" > </object>
      <object data="static/img/10rc.svg" type="image/svg+xml" id="10" width="0px" height="1000px" > </object>

      <!-- <svg id="8" display="none" width="300" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" > -->
      <!-- 	<image x="0" y="0" height="100%" width="100%"  xlink:href="static/img/8rc.svg" /> -->
      <!-- </svg> -->
    </div>

  </div>
</div>


{% endblock %}
